{
  "mongoDbUri": "mongodb://127.0.0.1:27017/",
  "mongoDbName": "pzp-agent",
  "redisUrl": "redis://127.0.0.1:6379",
  "githubApiUrl": "https://your-optional-github-api-proxy.com",
  "defaultRespack": "https://res.example.com/your-default-respack.zip",
  "webhookUrl": "https://www.example.com/webhook",
  "timezone": "Asia/Shanghai",
  "useSnapshot": true,
  "oss": {
    "s3": {
      "endpoint": "https://s3.example.amazonaws.com",
      "region": "cn-example-2",
      "bucket": "your-bucket-name-or-endpoint", // If bucketEndpoint is true, this should be the full URL
      "accessKeyId": "your-access-key-id",
      "secretAccessKey": "your-secret-access-key",
      "bucketEndpoint": false,
      "forcePathStyle": true
    },
    "leancloud": {
      "appId": "your-app-id",
      "appKey": "your-app-key",
      "serverURL": "https://oss.example.com"
    }
  },
  "idPool": ["Thunderstorm", "Magnesium", "Kaleidoscope"],
  "agents": [
    {
      "owner": "user",
      "repo": "phizone-player-agent",
      "workflow": "agent.yml",
      "branch": "main",
      "token": "github_pat"
    },
    {
      "owner": "another-user",
      "repo": "phizone-player-agent",
      "workflow": "agent.yml",
      "branch": "main",
      "token": "github_pat"
    }
  ],
  "clients": [
    {
      "name": "Soruto",
      "prefixes": ["qq"],
      "secret": "your-secret",
      "concurrency": 1,
      "idPool": ["Salt", "Acid", "Milk", "Ras", "Otohime", "Chiffon", "Shama"]
    }
  ]
}
